{{- $section2 := .Site.Params.section5 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle    := index $section2 "subtitle" }}
{{- $formAction    := index $section2 "formAction" }}
{{- $anchor    := index $section2 "anchor" }}
<section class="section section-light-grey is-medium" id="{{ $anchor }}">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

  <form action="{{ $formAction }}" method="POST">
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-12">
                <input class="input is-medium" type="email" placeholder="La tua email" name="email" required="required">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="Dicci qualcosa (opzionale)..." name="message"></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Richiedi accesso beta!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </form>
  </div>
</section>